%% vim: set filetype=erlang : -*- erlang -*-
{require_min_otp_vsn, "OTP17"}.

%% erlangのコンパイルオプション.
{erl_opts, [
            warnings_as_errors,
            warn_export_all,
            warn_untyped_record
           ]}.


%% link時バリデーションオプション.
{xref_checks, [
               fail_on_warning,
               undefined_function_calls
              ]}.

%% clean時の削除対象.
{clean_files, [".eunit/*", "ebin/*.beam"]}.


%% テスト時にコードカバレッジの測定を有効にするかどうか.
{cover_enabled, true}.

%% edocのオプション.
{edoc_opts, [
             {doclet, edown_doclet},
             {dialyzer_specs, all},
             {report_missing_type, true},
             {report_type_mismatch, true},
             {pretty_print, erl_pp},
             {preprocess, true}
            ]}.
{validate_app_modules, true}.

%% サブアプリケーション設定.
{sub_dirs, [
           ]}.

%% 依存ライブラリ群.
{deps,
  [
   {meck, ".*", {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}},% モックテスト用ライブラリ.
   {reloader, ".*", {git, "git://github.com/sile/reloader.git", {branch, "master"}}}, % コードリローダー (変更があったbeamファイルを自動でリロードしてくれる).
   {edown, ".*", {git, "git://github.com/dwango/edown.git", {branch, "master"}}} % edocをmarkdown形式で出力してくれるライブラリ.
  ]}.
