%% vim: set filetype=erlang : -*- erlang -*-
{require_min_otp_vsn, "OTP18"}.

%% erlangのコンパイルオプション.
{erl_opts, [
            warnings_as_errors,
            warn_untyped_record,
            {platform_define, "^(R|1|20)", 'FUN_STACKTRACE'}
           ]}.


%% link時バリデーションオプション.
{xref_checks, [
               fail_on_warning,
               undefined_function_calls
              ]}.

%% clean時の削除対象.
{clean_files, [".eunit/*", "ebin/*.beam"]}.


%% テスト時にコードカバレッジの測定を有効にするかどうか.
{cover_enabled, true}.

%% edocのオプション.
{edoc_opts, [
             {doclet, edown_doclet},
             {dialyzer_specs, all},
             {report_missing_type, true},
             {report_type_mismatch, true},
             {pretty_print, erl_pp},
             {preprocess, true}
            ]}.
{validate_app_modules, true}.

%% `rebar3 shell`実行時の起動アプリケーション.
{shell, [{apps, [moyo]}]}.

%% Dialyzerのオプション.
{dialyzer,
 [
  {plt_extra_apps, [eunit]},
  {warnings, [error_handling, unmatched_returns, unknown, no_improper_lists]}
]}.

{ct_dirs, "ct"}.

%% 依存ライブラリ群.
{profiles,
 [{test,
   [{deps,
     [
      meck
     ]}
   ]},
  {dev,
   [{deps,
     [
      edown
     ]}]}
 ]}.
